{% extends 'listings/base_diploma.html' %}
{% block content %}
<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
	<div class="inner">
		<form action="">
			<h3>Generate Diploma Certificate</h3>

			<div class="form-wrapper">
				<label for="">Enter Diploma Number</label>
				<input type="text" class="form-control">
			</div>

			<div class="form-wrapper">
				<label for="">Enter UserName</label>
				<input type="text" class="form-control">
			</div>


			<button>Generate</button>
		</form>
	</div>
</div>
{% endblock %}