{% extends 'listings/base_diploma.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="wrapper" style="background-image: url('images/bg-registration-form-2.jpg');">
	<div class="inner">
		<form action="" method="post">
			{% csrf_token %}
			<h3>Enter Diploma Information</h3>


			{% for field in form %}
			<div class="form-wrapper">
				{{field.label_tag}}
				{{field|add_class:"form-control"}}
				{{field.errors}}
			</div>
			{% endfor %}

			<div class="form-wrapper">
				<label for="">Phone Number</label>
				<input type="tel" id="phone" name="phone" placeholder="Phone number" class="form-control">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> I accept the Terms of Use & Privacy Policy.
					<span class="checkmark"></span>
				</label>
			</div>
			<button type="submit">Confirm</button>
		</form>
	</div>
</div>
{% endblock %}