{% extends 'listings/base_diploma.html' %}
{% block content %}
  <div class="container mt-5" style="padding-left:500px">
    <a href="{% url 'add_diploma' %}" class="btn btn-primary btn-lg button">Add Diploma</a>
  </div>

  <div class="contain">
    <div><h1 class="text-animation">Your Diploma</h1>
    </div>
    
  </div>

  <div class="contain"> 
    <ul>
      {% for diploma in diplomes%}
      <li class="text-animation">{{diploma.programe_name}} - {{diploma.year}} - {{diploma.diploma_number}} </li>
      {%endfor%}

    </ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
