{% extends 'listings/base.html' %}
{% block content %}
<div class="background"></div>
<div class="container" style="height: 100px;">
    <div class="content" style="margin-bottom: 100px;>
        <h2 class="logo">
            <i class='bx bxl-firebase'></i>
            RMIT
        </h2>
        <div class="text-sci">
            <h2 style="padding-bottom: 20px;">Welcome!<br></h2>
            <h2><span>To Alumni.</span></h2>

            {% if user.is_authenticated %}
            <p>Hi {{user.first_name}} </p>
            {% else %}
            <p>Not connected</p>
            {% endif %}

            <div class="social-icons">
                <a href="#"><i style="color:#0072b1 ;" class="bx bxl-linkedin"></i></a>
                <a href="#"><i style="color:#2656be;" class="bx bxl-facebook"></i></a>
                <a href="#"><i style="color:#d82e04 ;" class="bx bxl-instagram"></i></a>
                <a href="#"><i style="color:#00acee ;" class="bx bxl-twitter"></i></a>
            </div>
        </div>
    </div>
    {% block authentification %}
    {% endblock %}
</div>
</div>
{% endblock %}