{% extends 'listings/home.html' %}

{% block authentification %}
<!-- Register Forms -->
<div class="logreg-box active" >
  <div class="form-box register">
    <form action="#" method="post" novalidate>
      {% csrf_token %}
      <h2>Sign Up</h2>


      {% for field in form %}
      <div class="input-box">
        <span class="icon">
          <i class='bx bxs-envelope'></i></span>
          {{field}}
          {{field.label_tag}}
          {{field.errors}}
      </div>      
      {% endfor %}

      <div class="remember-forgot">
        <label><input type="checkbox">
          <a href="{% url 'terms' %}">I agree to the terms & conditions</a>
        </label>

      </div>

      <button type="submit" class="btn">
        Sign Up
      </button>

      <div class="login-register">
        <p>Already have an account?
          <a href="{% url 'login' %}" class="login-link">
            Sign in
          </a>
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}