{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Terms and Service</title>
  <link rel="stylesheet" href="{% static 'listings/terms_and_conditions.css' %}" />
</head>

<body>
  <section id="terms-of-service">
    <div class="card">
      <h1 class="primary-heading">Terms of Service</h1>
      <p class="paragraph">
        1) Acceptance of Terms: This section outlines that using the website
        constitutes agreement with the website's terms and conditions.
        <br /><br /><br />
        2) Intellectual Property: This section specifies the website owner's
        rights to all content, images, and other intellectual property on the
        website.
        <br /><br /><br />
        3) User Conduct: This section outlines how users are expected to
        behave while using the website. This often includes prohibitions
        against illegal activity, harassment, and offensive behavior.
        <br /><br /><br />
        4) Disclaimer of Warranties: This section clarifies that the website
        owner makes no guarantees about the accuracy, reliability, or
        suitability of the information provided on the website.
        <br /><br /><br />
        5) Limitation of Liability: This section limits the website owner's
        liability for any damages or losses resulting from the use of the
        website.
        <br /><br /><br />
        6) Privacy Policy: This section outlines how the website collects,
        uses, and protects user information.
        <br /><br /><br />
        7) Termination: This section specifies the circumstances under which
        the website owner may terminate a user's access to the website.
        <br /><br /><br />
        8) Governing Law: This section clarifies the jurisdiction under which
        the website operates and which laws apply to the website.
        <br /><br /><br />
        9) Modifications: This section outlines the conditions under which the
        website owner may modify or update the terms and conditions.
      </p>
    </div>
  </section>
  <footer>
    <p class="footer-heading">© Copyright 2020-2023. All rights reserved.</p>
  </footer>
</body>

</html>